.TitleParagraph {
  background-color: #222222;
  color: white;
  padding: 50px 10%;

  img {
    padding-top: 40px;
    width: 100%;
    height: auto;
  }

  @media (min-width: 1281px) {
    display: flex;
  }
  justify-content: space-between;

  h3 {
    border-top: 1px solid #979797;
    padding: 20px 0;
    color: #858585;
  }
  .paragraph {
    @media (min-width: 1281px) {
      width: 40%;
    }
  }

  .paragraph:first-child {
    padding-bottom: 50px;
  }
}
