.NextPrevious {
  position: relative;
  background-color: black;
  color: white;
  padding: 50px 10%;
  padding-top: 100px;
  overflow: hidden;

  .cursor {
    position: absolute;
    width: 600px;
    height: 400px;
    margin: -100px 0 0 -100px;
    background: url("https://i.imgur.com/9RGBqjd.png") no-repeat 50% 50%;
    background-size: cover;
    z-index: 1;
    opacity: 0;
    top: 0;
    left: 0;
  }

  .Text {
    position: relative;
    z-index: 2;

    display: flex;
    justify-content: space-between;
    h2 {
      font-family: "Ogg";
      font-weight: 100;
      color: white;

      font-size: 255%;
      // text-decoration: underline;
    }
  }

  h5 {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    padding-top: 5%;
    margin: 0 auto;
  }
  a {
    text-decoration: none;
  }

  a:visited {
    color: white;
    text-decoration: none;
  }

  h2:hover,
  h5:hover {
    // background-color: red;
    opacity: 1;
    color: #858585;
  }
}
